<div class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Приветствую, {{userName}}!</a>
  <div class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск" [(ngModel)]='searchValue' (keyup.enter)="clickSearch()">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)='clickSearch()'>Поиск</button>
    <a class="btn ml-md-3" (click)="logout()">Выйти</a>
  </div>
</div>
