@import "src/styles/variables.scss";

.tag {
  background-color: $tag-bg-color;
  color: $primary-color;
  padding: 2px 5px;
  border: 1px solid transparent;
  border-radius: $border-radius;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  cursor: pointer;
}
