<td>
  <app-author [author]='question.owner'></app-author>
</td>
<td>
  <a [routerLink]='["/details", question.question_id]' [innerHTML]="question.title"></a>
</td>
<td>
  <a [routerLink]='["/details", question.question_id]'>
    <app-answer-counter [count]='question.answer_count' [isAnswered]='question.is_answered'></app-answer-counter>
  </a>
</td>
<td>
  <app-tag *ngFor='let tag of question.tags' [tag]='tag'></app-tag>
</td>
