<div class="container mt--8 pb-5 h-100">
  <div class="col-lg-6 col-md-8 login-block">
    <div class="card card-block shadow border-0 m-x-auto">
      <div class="card-body px-lg-5 py-lg-5">
        <form [formGroup]="registrationForm" role="form">
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
              </div>
              <input class="form-control"
                     formControlName="username"
                     placeholder="Имя"
                     type="text"
                     [ngClass]="{ 'is-invalid': usernameError }">
              <div *ngIf="usernameError" class="invalid-feedback">
                <div >{{usernameError}}</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
              </div>
              <input class="form-control"
                     formControlName="password"
                     placeholder="Пароль"
                     type="password"
                     [ngClass]="{ 'is-invalid': passwordError }">
              <div *ngIf="passwordError" class="invalid-feedback">
                <div >{{passwordError}}</div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button [disabled]="loading" type="button" class="btn btn-primary mt-4" (click)="registration()">Зарегистрироваться</button>
          </div>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{errorMessage}}</div>
        </form>

        <div class="text-center mt-3">
          Есть аккаунт? <a [routerLink]="['/login']"> Войти </a>
        </div>
      </div>
    </div>
  </div>
</div>
