<div class="question" *ngIf='question'>
  <h3>Вопрос:</h3>
  <div class="question__body">
    <div class="body__title">
      <h2>{{question.title}}</h2>
    </div>
    <div class="body__content" [innerHTML]="question.body"></div>
    <div class="body__additional">
      <div class="additional__tags">
        <app-tag *ngFor='let tag of question.tags' [tag]='tag'></app-tag>
      </div>
      <div class="additional__author">
        <app-author [author]='question.owner'></app-author>
      </div>
    </div>
  </div>
</div>
