<div class='content'>
  <div class="left-sidebar" *ngIf="!isHomePage">
    <a href='#' (click)='goBack()' class='go-back'>
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
      </svg>
    </a>
  </div>
  <div class="main">
    <div class="search">
      <div class="searchbar">
        <app-search-bar id="app-search-bar" [userName]="userName"></app-search-bar>
      </div>
    </div>
    <router-outlet></router-outlet>
    <app-search-modal id="searchModal"></app-search-modal>
  </div>
</div>
