@import "src/styles/variables.scss";
.search {
  margin-bottom: 20px;
  display: flex;

  .searchbar{
    flex: auto;
  }
}
.search {
  width: 100%;
  margin-top: 15px;
}

.content {
  .main {
    flex: $body-width;
    max-width: $body-width;
    margin: 0 auto;
  }
}
.left-sidebar {
  position: absolute;
  padding-top: 15px;
  padding-left: 10px;
  z-index: 1000;
  .go-back {
    text-decoration: none;
    color: $link-color;
    display: block;
    height: 100%;
    &:hover {
      background-color: $go-back-bg-color;
    }
    &__text {
      position: fixed;
    }
  }
}
