<div [@fadeInOut]>
  <div class="question">
    <app-question-details [question]='question'></app-question-details>
  </div>
  <div class="answers">
    <h3>
      Ответы
    </h3>
    <div *ngIf='answers'>
      <div *ngFor='let item of answers?.items' class='result__item'>
        <app-answer [answer]='item'></app-answer>
      </div>

      <div *ngIf='answers?.items.length == 0 && !loading' class='no-result'>
        <p>Нет ответов</p>
      </div>
    </div>
  </div>
</div>
