<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">
        <span class="table-header-title" [ngClass]="{ 'table-header-title__selected': selectedSort === 'author'}" (click)="sortBy('author')">
          Автор
        </span>
    </th>
    <th scope="col" >
        <span class="table-header-title" [ngClass]="{ 'table-header-title__selected': selectedSort === 'title'}"(click)="sortBy('title')">
          Тема
        </span>
    </th>
    <th scope="col">
        <span class="table-header-title" [ngClass]="{ 'table-header-title__selected': selectedSort === 'answer_count'}" (click)="sortBy('answer_count')">
          Количество ответов
        </span></th>
    <th class="table-header-title" scope="col">Теги</th>
  </tr>
  </thead>
  <tbody>
  <tr app-question-item *ngFor='let item of items?.items' [question]='item'></tr>
  </tbody>
</table>
<div *ngIf='items && items.items.length == 0 && !loading' class='no-result'>
  <p>Ничего не найдено по поиску: <strong>"{{query}}"</strong></p>
</div>
<div *ngIf="loading" class="d-flex justify-content-center">
  <div class="spinner-border text-info" role="status">
    <span class="sr-only">Загрузка...</span>
  </div>
</div>
