@import "src/styles/variables.scss";

.search {
  width: 100%;
}

.table-header-title {
  cursor: pointer;
  font-weight: 400;
  &__selected {
    font-weight: 600;
    text-decoration: underline;
  }
}

.no-result {
  text-align: center;
  font-style: italic;
  color: $secondary-text-color;
}
