<ng-template #searchModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Поиск по {{searchBy}}: {{searchValue}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-table-items [items]="items" [loading]="loading"></app-table-items>
  </div>
</ng-template>
