$border-color: #E0E0E0;
$primary-color: #2D9CDB;

$primary-text-color: #000;
$secondary-text-color: #4F4F4F;
$link-color: #2F80ED;
$tag-bg-color: #e1ecf4;
$go-back-bg-color: #edf7fd;

$border-radius: 5px;
$body-width: 1200px;
$answer-info-width: 70px;
